@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light: #FFFFFF;
  --color-black: #232536;
  --color-yellow: #FFD050;
  --color-purple: #592EA9;
  --color-dark-grey: #4C4C4C;
  --color-medium-grey: #6D6E76;
  --color-light-grey: #F4F4F4;
  --color-light-yellow: #F4F0F8;
  --color-lavender: #FBF6EA;
  --color-footer: rgba(255, 255, 255, 0.1);
  --color-accent: #EDC14A;
  --border-base: 0.0625rem solid rgba(109, 110, 118, 0.3);
  --border-form: 0.0625rem solid var(--color-dark-grey);
  --border-categories: 0.09375rem solid #C1C1C3;
  --border-tag: 0.125rem solid var(--color-medium-grey);
  --border-contacts-light: 0.0625rem solid var(--color-light);
  --border-contacts-cell: 0.0625rem solid rgba(109, 110, 118, 0.5);
  --border-radius: 1.75rem;
  --font-family-base: "Inter", sans-serif;
  --font-family-heading: "Sen", sans-serif;
  --container-width: 80rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--color-medium-grey);
  background-color: var(--color-light);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
  font-family: var(--font-family-heading);
  color: var(--color-black);
}

h1, .h1,
h2, .h2,
h4, .h4 {
  line-height: 1.33;
}

h1, .h1 {
  font-size: clamp(1.75rem, 1.202247191rem + 2.2471910112vw, 3rem);
  letter-spacing: -0.04em;
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.1713483146rem + 1.3483146067vw, 2.25rem);
  letter-spacing: -0.06em;
}

h3, .h3 {
  font-size: clamp(1.25rem, 1.0308988764rem + 0.8988764045vw, 1.75rem);
  line-height: 1.43;
  letter-spacing: -0.04em;
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9606741573rem + 0.6741573034vw, 1.5rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0702247191rem + 0.2247191011vw, 1.25rem);
  line-height: 1.6;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.5;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

section:not(:last-child) {
  margin-bottom: 8rem;
}
@media (width <= 47.99875rem) {
  section:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
  background-color: var(--color-black);
  padding-block: 0.75rem;
  color: var(--color-light);
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-black);
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
@media (any-hover: hover) {
  .header__logo:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .header__logo:active svg path {
    fill: var(--color-accent);
  }
}
.header__body {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
@media (width <= 47.99875rem) {
  .header__body {
    position: fixed;
    inset: 0;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 1rem;
    background-color: var(--color-black);
    transition-duration: var(--transition-duration);
  }
  .header__body:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu-list {
  display: flex;
  gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    text-align: center;
  }
}
.header__menu-link {
  color: var(--color-light);
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
  }
}

.button-menu {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.33;
  color: var(--color-black);
  background-color: var(--color-light);
  padding: 1rem 3rem;
  border: none;
}
@media (any-hover: hover) {
  .button-menu:hover {
    background-color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .button-menu:active {
    background-color: var(--color-accent);
  }
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  z-index: 20;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.24em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}

.hero__inner {
  position: relative;
  background: url("../img/hero/hero-bg.jpg") center/cover no-repeat;
}
.hero__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}
.hero__body {
  position: relative;
  z-index: 20;
  padding-top: 8rem;
  padding-bottom: 12rem;
  color: var(--color-light);
}
@media (width <= 47.99875rem) {
  .hero__body {
    padding-block: 3.125rem;
  }
}
.hero__content {
  max-width: 50.1875rem;
}
.hero__subtitle:not(:last-child), .hero__heading:not(:last-child) {
  margin-bottom: 1.5rem;
}
.hero__subtitle {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.19em;
  text-transform: uppercase;
}
@media (width <= 30.06125rem) {
  .hero__subtitle {
    font-size: 0.875rem;
  }
}
.hero__subtitle span {
  font-weight: 900;
}
.hero__post-meta:not(:last-child) {
  margin-bottom: 1rem;
}
.hero__description {
  max-width: 37.4375rem;
}
.hero__description:not(:last-child) {
  margin-bottom: 3rem;
}

.heading-display {
  font-size: clamp(2rem, 1.3426966292rem + 2.6966292135vw, 3.5rem);
  display: inline-block;
  font-family: var(--font-family-heading);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: var(--color-light);
}

.post-meta__accent {
  color: var(--color-yellow);
}
.post-meta__accent--purple {
  color: var(--color-purple);
}
.post-meta--base {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.43;
  color: var(--color-dark-grey);
}

.button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  padding: 1rem 3rem;
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.33;
  color: var(--color-black);
  background-color: var(--color-yellow);
  border: none;
}
@media (width <= 30.06125rem) {
  .button-base {
    padding: 0.75rem 2.1875rem;
  }
}
@media (any-hover: hover) {
  .button-base:hover {
    background-color: var(--color-black);
  }
}
@media (any-hover: none) {
  .button-base:active {
    background-color: var(--color-black);
  }
}
@media (any-hover: hover) {
  .button-base--footer:hover {
    background-color: var(--color-purple);
    color: var(--color-light);
  }
}
@media (any-hover: none) {
  .button-base--footer:active {
    background-color: var(--color-purple);
    color: var(--color-light);
  }
}

.home-posts {
  display: grid;
  row-gap: 8rem;
}
.home-posts__header {
  display: grid;
  grid-template-columns: 57.26% 40.39%;
  gap: 2rem;
}
@media (width <= 90.06125rem) {
  .home-posts__header {
    gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .home-posts__header {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
.home-posts__header:not(:last-child) {
  margin-bottom: 8rem;
}
@media (width <= 47.99875rem) {
  .home-posts__header:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.home-posts__wrapper-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.8125rem;
  background-color: var(--color-lavender);
  padding: 6rem 5rem 7rem;
}
@media (width <= 47.99875rem) {
  .home-posts__wrapper-footer {
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 3.125rem;
    gap: 1.875rem;
  }
}
.home-posts__footer {
  position: relative;
  padding-top: 1.4375rem;
}
.home-posts__footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 82.89%;
  height: 1.4375rem;
  background: linear-gradient(to right, rgb(255, 208, 80) 73.42%, rgb(89, 46, 169) 26.58%);
}

.posts-featured__title:not(:last-child) {
  margin-bottom: 2rem;
}
.posts-featured__content {
  padding: 2rem;
  border: var(--border-base);
}
.posts-featured__image {
  display: inline-block;
}
.posts-featured__image:not(:last-child) {
  margin-bottom: 2rem;
}
.posts-featured__text {
  display: grid;
  row-gap: 1rem;
}
.posts-featured__text:not(:last-child) {
  margin-bottom: 2rem;
}

.posts-all {
  display: grid;
  row-gap: 2rem;
}
.posts-all__wrapper {
  display: flex;
  justify-content: space-between;
}
.posts-all__link {
  color: var(--color-purple);
}
@media (any-hover: hover) {
  .posts-all__link:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .posts-all__link:active {
    color: var(--color-accent);
  }
}
.posts-all__item {
  padding: 2rem 2rem 1.5625rem;
}
@media (width <= 90.06125rem) {
  .posts-all__item {
    padding: 1.5625rem;
  }
}
.posts-all__content {
  display: grid;
  row-gap: 0.5rem;
}
.posts-all__title-link {
  display: inline-block;
  max-width: 23.0625rem;
}
@media (width <= 47.99875rem) {
  .posts-all__title-link {
    max-width: 100%;
  }
}

.posts-about__content {
  max-width: 32.1875rem;
}
@media (width <= 47.99875rem) {
  .posts-about__content {
    max-width: 100%;
  }
}
.posts-about__subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}
.posts-about__title {
  max-width: 30.3125rem;
}
@media (width <= 47.99875rem) {
  .posts-about__title {
    max-width: 100%;
  }
}
.posts-about__title:not(:last-child) {
  margin-bottom: 1rem;
}
.posts-about__link {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.78;
  color: var(--color-purple);
}

.subtitle-base {
  display: inline-block;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: var(--color-black);
}

.posts-mision__content {
  max-width: 32.25rem;
}
@media (width <= 47.99875rem) {
  .posts-mision__content {
    max-width: 100%;
  }
}
.posts-mision__subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}
.posts-mision__title {
  max-width: 30.0625rem;
}
@media (width <= 47.99875rem) {
  .posts-mision__title {
    max-width: 100%;
  }
}
.posts-mision__title:not(:last-child) {
  margin-bottom: 1rem;
}

.header-categories:not(:last-child) {
  margin-bottom: 15.625rem;
}
@media (width <= 63.99875rem) {
  .header-categories:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.header-categories__title {
  text-align: center;
}
.header-categories__title:not(:last-child) {
  margin-bottom: 3rem;
}
@media (width <= 47.99875rem) {
  .header-categories__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

.card-categories__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (width <= 47.99875rem) {
  .card-categories__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .card-categories__list {
    grid-template-columns: 1fr;
  }
}
.card-categories__item {
  padding: 2rem;
  border: var(--border-base);
  cursor: pointer;
}
@media (width <= 63.99875rem) {
  .card-categories__item {
    padding: 1.25rem;
  }
}
@media (any-hover: hover) {
  .card-categories__item:hover {
    background-color: var(--color-yellow);
  }
  .card-categories__item:hover .card-categories__title-link {
    color: var(--color-purple);
  }
}
@media (any-hover: none) {
  .card-categories__item:active {
    background-color: var(--color-yellow);
  }
  .card-categories__item:active .card-categories__title-link {
    color: var(--color-purple);
  }
}
.card-categories__title-link:not(:last-child) {
  margin-bottom: 0.25rem;
}

.footer-categories {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.footer-categories::before {
  content: "";
  position: absolute;
  top: -7.5rem;
  left: 0;
  width: 74.14%;
  height: 44.0625rem;
  background: url("../img/home-categories/started-bg.jpg") center/contain no-repeat;
}
@media (width <= 63.99875rem) {
  .footer-categories::before {
    display: none;
  }
}
.footer-categories__content {
  position: relative;
  z-index: 20;
  padding: 5rem;
  max-width: 44.375rem;
  background-color: var(--color-light);
}
@media (width <= 63.99875rem) {
  .footer-categories__content {
    padding: 0;
    max-width: 100%;
  }
}
.footer-categories__subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer-categories__title:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-categories__description:not(:last-child) {
  margin-bottom: 2rem;
}

.home-authors__title {
  text-align: center;
}
.home-authors__title:not(:last-child) {
  margin-bottom: 3rem;
}

.authors-card__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media (width <= 63.99875rem) {
  .authors-card__list {
    gap: 0.9375rem;
  }
}
@media (width <= 47.99875rem) {
  .authors-card__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }
}
@media (width <= 30.06125rem) {
  .authors-card__list {
    grid-template-columns: 1fr;
  }
}
.authors-card__item {
  padding: 2.5rem 1.75rem;
}
.authors-card__item:nth-child(1) {
  background-color: var(--color-light-grey);
}
.authors-card__item:nth-child(2) {
  background-color: var(--color-lavender);
}
.authors-card__item:nth-child(3) {
  background-color: var(--color-light-grey);
}
.authors-card__item:nth-child(4) {
  background-color: var(--color-light-grey);
}
.authors-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}
.authors-card__image:not(:last-child) {
  margin-bottom: 1.25rem;
}
.authors-card__name {
  flex-grow: 1;
}
.authors-card__department:not(:last-child) {
  margin-bottom: 1.25rem;
}

.soc1als-authors__list {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.soc1als-authors__item {
  cursor: pointer;
}
@media (any-hover: hover) {
  .soc1als-authors__item:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .soc1als-authors__item:active svg path {
    fill: var(--color-accent);
  }
}

.authors-brands {
  display: flex;
  align-items: center;
  column-gap: 6.0625rem;
  padding-block: 6rem;
}
@media (width <= 90.06125rem) {
  .authors-brands {
    justify-content: center;
    column-gap: 5rem;
  }
}
@media (width <= 47.99875rem) {
  .authors-brands {
    flex-direction: column;
    row-gap: 1.875rem;
  }
}
.authors-brands__text {
  display: grid;
}
.authors-brands__we-are {
  font-size: 0.875rem;
  line-height: 1.43;
  color: var(--color-medium-grey);
  opacity: 0.6;
}
.authors-brands__featured {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--color-medium-grey);
}
.authors-brands__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4.5625rem;
  row-gap: 0.9375rem;
}
@media (width <= 90.06125rem) {
  .authors-brands__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .authors-brands__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 30.06125rem) {
  .authors-brands__list {
    grid-template-columns: 1fr;
  }
}
.authors-brands__item {
  opacity: 0.8;
}
@media (any-hover: hover) {
  .authors-brands__item:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .authors-brands__item:active svg path {
    fill: var(--color-accent);
  }
}

.swiper-authors-slide__body {
  display: flex;
  justify-content: center;
  padding: 5rem 7rem 4.625rem;
  background-color: var(--color-lavender);
}
@media (width <= 63.99875rem) {
  .swiper-authors-slide__body {
    padding-inline: 3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .swiper-authors-slide__body {
    flex-direction: column;
  }
}
.swiper-authors-slide__content {
  padding-top: 0.75rem;
  padding-right: 5rem;
  border-right: var(--border-base);
  max-width: 21.8125rem;
}
@media (width <= 63.99875rem) {
  .swiper-authors-slide__content {
    padding-right: 3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .swiper-authors-slide__content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 1.5625rem;
    border-right: none;
    border-bottom: var(--border-base);
  }
}
.swiper-authors-slide__subtitle:not(:last-child) {
  margin-bottom: 0.75rem;
}
.swiper-authors-slide__title-link {
  display: inline-block;
  cursor: pointer;
}
.swiper-authors-slide__title-link:not(:last-child) {
  margin-bottom: 1rem;
}
.swiper-authors-slide__quote {
  padding-left: 6rem;
}
@media (width <= 63.99875rem) {
  .swiper-authors-slide__quote {
    padding-left: 3.125rem;
  }
}
@media (width <= 47.99875rem) {
  .swiper-authors-slide__quote {
    padding-left: 0;
    padding-top: 1.5625rem;
  }
}
.swiper-authors-slide__blockquote {
  max-width: 29.3125rem;
}
.swiper-authors-slide__blockquote:not(:last-child) {
  margin-bottom: 7.125rem;
}
@media (width <= 63.99875rem) {
  .swiper-authors-slide__blockquote:not(:last-child) {
    margin-bottom: 5rem;
  }
}
@media (width <= 47.99875rem) {
  .swiper-authors-slide__blockquote:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.swiper-authors-slide__accent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 63.99875rem) {
  .swiper-authors-slide__accent {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.9375rem;
  }
}
.swiper-authors-navigation {
  display: flex;
  column-gap: 1.5rem;
}
.swiper-authors-button-prev, .swiper-authors-button-next {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
.swiper-authors-button-prev {
  background: url("/icon/slider/arrow-prev.svg") center/1.25rem auto no-repeat;
  background-color: var(--color-yellow);
}
@media (any-hover: hover) {
  .swiper-authors-button-prev:hover {
    width: 3.875rem;
    height: 3.875rem;
    background: url("/icon/slider/arrow-hover-prev.svg") center/1.625rem auto no-repeat;
    background-color: var(--color-black);
  }
}
@media (any-hover: none) {
  .swiper-authors-button-prev:active {
    width: 3.875rem;
    height: 3.875rem;
    background: url("/icon/slider/arrow-hover-prev.svg") center/1.625rem auto no-repeat;
    background-color: var(--color-black);
  }
}
.swiper-authors-button-next {
  background: url("/icon/slider/arrow-next.svg") center/1.25rem auto no-repeat;
  background-color: var(--color-yellow);
}
@media (any-hover: hover) {
  .swiper-authors-button-next:hover {
    width: 3.875rem;
    height: 3.875rem;
    background: url("/icon/slider/arrow-hover-next.svg") center/1.625rem auto no-repeat;
    background-color: var(--color-black);
  }
}
@media (any-hover: none) {
  .swiper-authors-button-next:active {
    width: 3.875rem;
    height: 3.875rem;
    background: url("/icon/slider/arrow-hover-next.svg") center/1.625rem auto no-repeat;
    background-color: var(--color-black);
  }
}

.person__body {
  display: flex;
  column-gap: 0.75rem;
}
.person__image {
  align-self: start;
}
.person__info {
  display: grid;
}
.person__name {
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--color-black);
}

.team {
  text-align: center;
  padding-inline: 1rem;
}
.team__title, .team__description {
  margin: 0 auto;
}
.team__title {
  max-width: 25.875rem;
}
.team__title:not(:last-child) {
  margin-bottom: 1rem;
}
.team__description {
  max-width: 25.3125rem;
}
.team__description:not(:last-child) {
  margin-bottom: 2rem;
}

.footer {
  padding: 3.4375rem 5rem;
  background-color: var(--color-black);
}
@media (width <= 47.99875rem) {
  .footer {
    padding-inline: 0;
  }
}
@media (width <= 30.06125rem) {
  .footer {
    padding-block: 2.5rem;
  }
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5625rem;
}
@media (width <= 47.99875rem) {
  .footer__navigation {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (any-hover: hover) {
  .footer__logo:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .footer__logo:active svg path {
    fill: var(--color-accent);
  }
}
.footer__menu-list {
  display: flex;
  gap: 1.5rem;
}
@media (width <= 47.99875rem) {
  .footer__menu-list {
    flex-wrap: wrap;
    gap: 0.9375rem;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  column-gap: 4rem;
  padding: 5rem 4rem;
  margin-top: 3.4375rem;
  margin-bottom: 3rem;
  background-color: var(--color-footer);
}
@media (width <= 63.99875rem) {
  .footer__body {
    flex-direction: column;
    row-gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__body {
    padding-inline: 1.25rem;
  }
}
@media (width <= 30.06125rem) {
  .footer__body {
    padding-block: 1.25rem;
    margin-block: 1.5625rem;
  }
}
.footer__text {
  color: var(--color-light);
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (width <= 30.06125rem) {
  .footer__copyright {
    flex-direction: column;
  }
}

.form {
  display: flex;
  gap: 1.5rem;
}
@media (width <= 30.06125rem) {
  .form {
    flex-direction: column;
  }
}
.form__cell-input {
  width: max(9.375rem, 22.43vw);
  padding: 0.875rem 1.5625rem;
  border: none;
  border: var(--border-base);
  background-color: transparent;
  color: var(--color-light);
}
@media (width <= 30.06125rem) {
  .form__cell-input {
    width: 18.75rem;
  }
}
.form__button {
  align-self: start;
}

.footer-soc1als__list {
  display: flex;
  column-gap: 1.625rem;
  padding-top: 0.75rem;
}
.footer-soc1als__item {
  cursor: pointer;
}
.footer-soc1als__item svg path {
  fill: var(--color-medium-grey);
}
@media (any-hover: hover) {
  .footer-soc1als__item:hover svg path {
    fill: var(--color-accent);
  }
}
@media (any-hover: none) {
  .footer-soc1als__item:active svg path {
    fill: var(--color-accent);
  }
}