@use 'helpers' as *;

.authors-card {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(32);
        
        @include tablet {
            gap: rem(15);
        }

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: rem(30);
        }

        @include mobile-s {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: rem(40) rem(28);

        @include mobile-s {
            padding: rem(20);
        }

        &:nth-child(1) {
            background-color: var(--color-light-grey);
        }

        &:nth-child(2) {
            background-color: var(--color-lavender);
        }

        &:nth-child(3) {
            background-color: var(--color-light-grey);
        }

        &:nth-child(4) {
            background-color: var(--color-light-grey);
        }

        &:nth-child(5) {
            background-color: var(--color-light-grey);
        }

        &:nth-child(6) {
            background-color: var(--color-light-grey);
        }

        &:nth-child(7) {
            background-color: var(--color-light-grey);
        }

        &:nth-child(8) {
            background-color: var(--color-light-grey);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    &__image {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__name {
        flex-grow: 1;
    }

    &__department {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
}