@use 'helpers' as *;

.author-hero {
    position: relative;
    background-color: var(--color-light-yellow);

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 54%;
        translate: -54%;
        width: calc(1024 / 1920 * 100%);
        height: rem(24);
        background: linear-gradient(
            to right,
            rgba(255, 208, 80, 1) calc(752 / 1024 * 100%), 
            rgba(89, 46, 169, 1) calc(272 / 1024 * 100%)
        );

        @include laptop {
            left: 50%;
            translate: -50%;
        }

        @include mobile {
            left: 0;
            translate: none;
            width: 100%;
            background: linear-gradient(
                to right,
                rgba(255, 208, 80, 1) calc(752 / 1024 * 100%), 
                rgba(89, 46, 169, 1) calc(272 / 1024 * 100%)
            );
        }
    }

    &__inner {
        display: flex;
        gap: rem(32);
        max-width: rem(984);
        margin: 0 auto;
        padding: rem(128) rem(16);

        @include mobile {
            flex-direction: column;
            padding-block: rem(50);
        }
    }

    &__image {
        flex-shrink: 0;

        @include mobile {
            flex-shrink: 1;
            margin: 0 auto;
        }
    }

    &__content {
        display: grid;
        gap: rem(24);

        @include mobile {
            text-align: center;
        }
    }

    &__soc1als {
        justify-self: start;

        @include mobile {
            justify-self: center;
        }
    }
}