@use 'helpers' as *;

.button-base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    padding: rem(16) rem(48);
    font-family: var(--font-family-heading);
    font-weight: 700;
    font-size: rem(18);
    line-height: 1.33;
    color: var(--color-black);
    background-color: var(--color-yellow);
    border: none;

    @include mobile-s {
        padding: rem(12) rem(35);
    }

    @include hover {
        background-color: var(--color-black);
        color: var(--color-light);
    }

    &--footer {
        @include hover {
            background-color: var(--color-purple);
            color: var(--color-light);
        }
    }

    &--form {
        width: 100%;
    }
}