@use 'helpers' as *;

.card-categories {
    &--business {
        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(32);

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-s {
            grid-template-columns: 1fr;
        }

        &--business {
            grid-template-columns: 1fr;
            gap: rem(24);

            @include tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mobile-s {
                grid-template-columns: 1fr;
            }
        }
    }

    &__item {
        padding: rem(32);
        border: var(--border-base);
        transition-duration: var(--transition-duration);
        cursor: pointer;

        @include tablet {
            padding: rem(20);
        }

        @include hover {
            background-color: var(--color-yellow);

            .card-categories__title-link {
                color: var(--color-purple);
            }
        }

        &--business {
            padding: rem(24);

            &.is-active {
                background-color: var(--color-yellow);
            }
        }
    }

    &__content {
        &--business {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: rem(16);
            row-gap: rem(5);

            @include tablet {
                column-gap: rem(10);;
            }
        }
    }

    &__icon {
        display: flex;
    }

    &__title {
        &-link {
            &:not(:last-child) {
                margin-bottom: rem(4);
            }
        }
    }
}