@use 'helpers' as *;

.subtitle-base {
    display: inline-block;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: var(--color-black);
}