@use 'helpers' as *;
.team {
    text-align: center;
    padding-inline: rem(16);
    margin-bottom: rem(128);

    @include mobile {
        margin-bottom: rem(50);
    }

    &__title,
    &__description {
        margin: 0 auto;
    }

    &__title {
        max-width: rem(414);

        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__description {
        max-width: rem(405);

        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
}